header img{
    margin-top: 50px;
    width: 250px;
}


.conter-form{
    width: 280px;
}

/*contenedo del pokemon*/
.contenedor{
    width: 280px;
}

.contenedor img{
    width: 250px;
}

.contenedor p{
    font-size: 1.5rem;
    margin: 70px 0 0 0;
    padding: 0 5px;
}

.conter-form input{
    width: 50%;
}
